{% load static tailwind_cli %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    {% block title %}
        <title>
            Local Library
        </title>
    {% endblock %}
    <!-- <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}"> -->
</head>
<body class="bg-gray-100 text-gray-800">
    <!-- Header w logo and webapp name -->

    <!-- Main content and sidebar -->
    <div class="min-h-screen flex flex-col">
        <header class="bg-lime-400 text-black shadow-sm p-4">
            <div class="container mx-auto flex justify-between items-center">
                <a href="#">Logo here</a>
                <h1 class="text-2xl font-semibold">
                    Local Library
                </h1>
            </div>
        </header>
        <div class="flex flex-1">
            <aside class="w-1/4 border-r mx-auto border-lime-300 bg-lime-100">
                {% block sidebar %}
                <ul class="pl-8 pt-8">
                    <li>
                        <a href="{% url 'index' %}" class="text-gray-600 hover: underline">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'books_list' %}" class="text-gray-600 hover: underline">All Books</a>
                    </li>
                    <li>
                        <a href="{% url 'authors_list' %}" class="text-gray-600 hover: underline">All Authors</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}" class="text-gray-600 hover: underline">About</a>
                    </li>
                </ul>
                {% endblock %}
            </aside>
            <main class="flex-auto p-6">
                {% block content %}

                {% endblock %}
            </main>
        </div>
        <footer class="bg-lime-400 text-black mt-6 p-4 text-center">
            <div class="container mx-auto text-center">
                <p>&copy; 2025 Local Library. All rights reserved.</p>
                <p>Contact: local-librarian@gmail.com</p>
            </div>
        </footer>
    </div>
</body>
</html>
