{% extends 'base.html' %}


{% block content %}
    <h1>Title: {{ book_instance.book.title}}</h1>
    <p>Borrower: {{ book_instance.borrower }}</p>
    <p class="{% if book_instance.is_overdue %}text-red-600{% endif %}">Due date: {{ book_instance.due_back }}
    </p>
    <form action="" method="post">
        {% csrf_token %}
        <div class="">
            <table>
                {{ form.as_table }}
            </table>
        </div>
        <input type="submit" value="Submit">
    </form>
{% endblock content %}
    